*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: azure;
    display: flex;
    place-items: center;
    height: 100vh;
}
main{
 
  display: grid;
  grid-template-areas: 
  'a a a b'
  'a a a b'
  'c c d d'
  'c c e e'
  ;
  gap: 10px;
  width: 50%;
  margin: auto;
}
header button {
    margin-top: 20px;
    padding: 1em;
    color: hsl(31, 77%, 52%);
    background-color: hsl(184, 100%, 22%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Big Shoulders Display', cursive;
  }
main div{
 padding: 2em;
 text-align: center;
}
.a{
    grid-area: a;
    background-color: rgb(243, 74, 74);
    height: 200px;
}
.b{
    grid-area: b;
    background-color: yellow;
    height: 200px;
}
.c{
    grid-area: c;
    background-color: greenyellow;
    height: 200px;
}
.d{
    grid-area: d;
    background-color: skyblue;
    
}
.e{
    grid-area: e;
    background-color: skyblue;
}