* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
  background-color: hsl(0, 0%, 95%);
}

main {
  max-width: 1440px;
  width: 50%;
  margin: auto;
  display: flex;
  /* flex: 70%; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* margin-bottom: 50px; */
}
header{
  width: 50%;
  margin: auto;
  
}
header button {
  margin-top: 20px;
  padding: 1em;
  color: hsl(31, 77%, 52%);
  background-color: hsl(184, 100%, 22%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Big Shoulders Display', cursive;
}

.sedan button {
  margin-bottom: 10px;
  padding: 1em;
  width: 100%;
  color: hsl(31, 77%, 52%);
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Big Shoulders Display', cursive;
}

.sedan {
  background-color: hsl(31, 77%, 52%);
  padding: 2em;
  width: 100%;
}

img {
  padding-bottom: 10px;
  margin-bottom: 30px;
}

h3 {
  font-size: 20px;
  padding-bottom: 10px;
  color: hsl(0, 0%, 95%);
  font-weight: 700;
  font-family: 'Big Shoulders Display', cursive;
  margin-bottom: 50px;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  padding-bottom: 10px;
  color: hsla(0, 0%, 100%, 0.75);
  letter-spacing: 0.005rem;
  margin-bottom: 50px;
}

.suv {
  background-color: hsl(184, 100%, 22%);
  padding: 2em;
  width: 100%;
}

.suv button {
  margin-bottom: 10px;
  padding: 1em;
  width: 100%;
  color: hsl(184, 100%, 22%);
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Big Shoulders Display', cursive;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  padding: 2em;
  width: 100%;
}

.luxury button {
  margin-bottom: 10px;
  padding: 1em;
  width: 100%;
  color: hsl(179, 100%, 13%);
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Big Shoulders Display', cursive;
}

@media (max-width:375px) {
  main {
    height: auto;
    display: flex;
    flex-direction: column;
    width: auto;
    margin: auto;
  }

}